header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px; 
    padding: 1em;

    .logo {
        width: 100px;
    }

    .conteneur-gauche, .conteneur-droite {
        display: flex;
        align-items: center;
    }
    
    nav {

        a {
            margin: 0 1em;
            font-weight: bold;
            text-decoration: none;
            color:black;

            &:hover {
                color: #C77300;
            }
        }
    }
}

